[user]
    email = [EMAIL]
    name = [NAME]

[core]
    editor = vim

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[alias]
    # Branch
    br = branch
    co = checkout
    cd = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@' | xargs -n 1 git checkout
    mr = !git merge $1
    rb = !git rebase $1
    new = checkout -b
    def = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
    flush = !git branch --merged | grep -v $(git def) | xargs -n 1 -r git branch -d

    # Commit
    a = add
    aa = add .
    ci = commit
    ca = !git add . && git commit
    cu = commit --amend
    cau = !git add . && git commit --amend

    # Remote
    f = fetch -pv
    pl = pull
    p = push
    pf = push --force
    pa = !git push --all origin && git push --tags
    pp = !git pull && git push

    # Stats
    l = log
    ll = log --graph
    st = status

    # Diffs
    d = !git diff $1..$2 --name-status
    da = !git all-diffs --diff-filter=A
    dc = !git all-diffs --diff-filter=C
    dd = !git all-diffs --diff-filter=D
    dm = !git all-diffs --diff-filter=M
    dr = !git all-diffs --diff-filter=R
    chmod = !git diff -p | grep -E \"^(diff|old mode|new mode)\" | sed -e \"s/^old/NEW/;s/^new/old/;s/^NEW/new/\" | git apply

    # Undoes
    clear = !git add . && git reset --hard HEAD
    untag = !git push --delete origin $1 && git tag --delete $1
    unstage = !git restore --staged -- $1
    uncommit = reset --soft HEAD~

[gitflow "branch"]
    master = main
    develop = develop

[gitflow "prefix"]
    feature = "feature/"
    bugfix = "bugfix/"
    release = "release/"
    hotfix = "hotfix/"
    support = "support/"
    versiontag =
